server:
  port: ${PORT:8085}

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:mysql://mysql.railway.internal:3306/railway}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:mOlzsrmmkwvUBMxvHvTUWITYLzspbrNs}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  mail:
    host: smtp.gmail.com
    port: 587
    username: nguyenlh2004@gmail.com
    password: fsos zhhk zbgr yyfu
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000