version: '3.8'
services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD:
      MYSQL_DATABASE: library_system
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

  auth-service:
    build: ./auth-service
    ports:
      - "8083:8083"
    depends_on:
      - mysql
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  user-service:
    build: ./user-service
    ports:
      - "8081:8081"
    depends_on:
      - mysql
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  book-service:
    build: ./book-service
    ports:
      - "8082:8082"
    depends_on:
      - mysql
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  borrow-service:
    build: ./borrow-service
    ports:
      - "8086:8086"
    depends_on:
      - mysql
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  payment-service:
    build: ./payment-service
    ports:
      - "8084:8084"
    depends_on:
      - mysql
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  notification-service:
    build: ./notification-service
    ports:
      - "8085:8085"
    depends_on:
      - mysql
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  frontend-user:
    build: ./frontend-user
    ports:
      - "3000:80"
    depends_on:
      - auth-service
      - user-service
      - book-service
      - borrow-service
      - payment-service
      - notification-service

  frontend-admin:
    build: ./frontend-admin
    ports:
      - "3001:80"
    depends_on:
      - auth-service
      - user-service
      - book-service
      - borrow-service
      - payment-service
      - notification-service

volumes:
  mysql-data: