server: 
  port: ${PORT:8081}

spring:
  datasource:
    url: jdbc:${DATABASE_URL}/${DB_NAME:user_db}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true