.App {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
  flex: 1;
  margin-left: 250px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}